#logo
{
	border-radius: 50%;
	 padding: 10px; 
width : 140px;
height : 180px;
}
#logo2
{
	 float:left;
	border-radius: 50%;
	 padding: 10px; 
width : 25px;
height : 25px;

}


   .pag
{

    background-color: #b0e0e6;
    font-size : 14px;
    font-family : 'Source sans Pro', Calibri, Tahoma,sans-serif;
  overflow: auto;
    float:left;
    padding:10px;
	margin: 0;
    padding: 0;
}
	.a {
    list-style-type: square;
	text-align : left;
margin-top:-20px;
margin-left :-20px;
	}
	.c {
    
	text-align : left;
margin-top:-20px;
margin-left :-20px;
	}
	.d {
    
	text-align : left;

margin-left :-20px;
	}
.sect {
   
    float:left;
    padding:20px;	
}
.section{
	  margin-bottom : 70px;
}

.sec-gauche{
	
	float : left;
	font-weight : bold;
	font-size : 20px;
	 margin-bottom : 2px;
  margin-top:1px;
}
	.sec-droite{
		margin-left : 45px;
		margin-top:1px;
	 margin-bottom : 2px;
	}

	#lan p{ 
  margin-bottom : 2px;
  margin-top:1px;
  margin-top:-10px;
}
	#lon p{ 
  margin-bottom : 20px;
  margin-top:1px;
 
}
#top p{
		margin-left :45px;
	margin-top:1px;
	 margin-bottom : 2px;
	 margin-top:-10px;
		font-size : 20px;
		
}
.sec-1{ 
float : left;
margin-left :58px;
  margin-bottom : 2px;
  margin-top:1px;
  
	font-size : 20px;
}

.sec-2{
		margin-left :230px;
	margin-top:41px;
	 margin-bottom : 2px;
		font-size : 20px;
}
.titre{
	font-weight : bold;
	font-size : 20px;
}

.tit{
	color: #b0e0e6;
	font-size : 20px;
}
#section{
	  margin-bottom : 70px;
}
/*.section{
	  margin-bottom : 70px;
}*/
	.fla{ 
  margin-bottom : 0px;
  margin-top:90px;
  
	}
	.flow { 
  margin-bottom : 0px;
  margin-top:175px;
  
	}
	.clearfix {
    overflow: auto;
}
/*	.sec-1::before {
		content: "";
  position: absolute;
  width: 6px;
  background-color: white;
  top: 5px;
  height: 6px;
  left: -25px;
  border-radius:50%;
	border: 2px solid #0bb5f4;
	}*/
	.time{
		position: absolute;
		margin: 0px ;
		border-left: -30px solid #b0e0e6;
			max-width: 1000px;
  
	}
	.time:after {
  content: "";
  position: absolute;
  width: 2px;
  background-color: #b0e0e6;
  top: 0;
  bottom: 0;
  left: 48%;
  margin-left: -50px;
}

 div .sec-1:before 
{
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #b0e0e6;
  top: 0;
  border-radius:50%;
  bottom: 0;
  left: 48%;
  margin-left: -53px;
  margin-top: 25px;
}
.timeli{
		position: absolute;
		margin: 0px ;
		border-left: -30px solid #b0e0e6;
			max-width: 1000px;
  
	}
	.timeli:after {
  content: "";
  position: absolute;
  width: 2px;
  background-color: #b0e0e6;
  top: 0;
  bottom: 0;
  left: 48%;
  margin-left: -50px;
}

 div .sec-3:before 
{
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #b0e0e6;
  top: 0;
  border-radius:50%;
  bottom: 0;
  left: 48%;
  margin-left: -53px;
  margin-top: 25px;
}

.my-0 {
    margin-top: 0;
    margin-bottom: 0
}

.my-1 {
    margin-top: .25rem;
    margin-bottom: .25rem
}

.mx-1 {
    margin-left: .25rem;
    margin-right: .25rem
}

.my-2 {
    margin-top: .5rem;
    margin-bottom: .5rem
}

.my-3 {
    margin-top: .75rem;
    margin-bottom: .75rem
}

.my-4 {
    margin-top: 1rem;
    margin-bottom: 1rem
}

.my-6 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem
}

.my-10 {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem
}

.mx-auto {
    margin-left: auto;
    margin-right: auto
}

.mb-1 {
    margin-bottom: .25rem
}

.mr-2 {
    margin-right: .5rem
}

.mb-2 {
    margin-bottom: .5rem
}

.mb-6 {
    margin-bottom: 1.5rem
}

.ml-6 {
    margin-left: 1.5rem
}

.mt-8 {
    margin-top: 2rem
}

.mt-10 {
    margin-top: 2.5rem
}

.mb-10 {
    margin-bottom: 2.5rem
}

.object-cover {
    -o-object-fit: cover;
    object-fit: cover
}

.p-2 {
    padding: .5rem
}

.py-3 {
    padding-top: .75rem;
    padding-bottom: .75rem
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem
}

.px-8 {
    padding-left: 2rem;
    padding-right: 2rem
}

.py-12 {
    padding-top: 3rem;
    padding-bottom: 3rem
}

.pr-3 {
    padding-right: .75rem
}

.pt-4 {
    padding-top: 1rem
}

.pl-6 {
    padding-left: 1.5rem
}

.pb-10 {
    padding-bottom: 2.5rem
}

.relative {
    position: relative
}

.text-white {
    color: #fff
}

.text-gray-600 {
    color: #718096
}

.text-gray-700 {
    color: #4a5568
}

.text-gray-900 {
    color: #1a202c
}

.text-sm {
    font-size: .875rem
}

.uppercase {
    text-transform: uppercase
}

.capitalize {
    text-transform: capitalize
}

.normal-case {
    text-transform: none
}

.align-baseline {
    vertical-align: baseline
}

.w-6 {
    width: 1.5rem
}

.w-48 {
    width: 12rem
}

.w-auto {
    width: auto
}

.w-full {
    width: 100%
}
.star {
    -webkit-clip-path: polygon(100% 0,61% 35%,98% 35%,68% 57%,79% 91%,50% 70%,21% 91%,32% 57%,2% 35%,39% 35%);
    clip-path: polygon(50% 0,61% 35%,98% 35%,68% 57%,79% 91%,50% 70%,21% 91%,32% 57%,2% 35%,39% 35%)
}

.rounded-50 {
    border-radius: 50%
}

.bg-gray-400 {
    background-color: #cbd5e0
}

.bg-blue-800 {
    background-color: #2c5282
}

.border-white {
    border-color: #fff
}

.border-4 {
    border-width: 4px
}

.inline-block {
    display: inline-block
}

.flex {
    display: flex
}

.flex-row {
    flex-direction: row
}

.flex-col {
    flex-direction: column
}

.justify-start {
    justify-content: flex-start
}

.justify-between {
    justify-content: space-between
}

.font-medium {
    font-weight: 500
}

.font-semibold {
    font-weight: 600
}

.font-bold {
    font-weight: 700
}

.h-6 {
    height: 1.5rem
}

.list-inside {
    list-style-position: inside
}

.list-disc {
    list-style-type: disc
}
